.apptForm {
  margin: 0;
  padding: 20px 10px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid gray;
}

.apptFormSection {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputLabel {
  font-size: 14px;
  font-weight: 500;
}

.input {
  margin: 0;
  padding: 6px 8px;
}

.fieldset {
  border: none;
  padding: 0;
}

.error {
  margin: 0;
  font-size: 14px;
  color: red;
}

.submitButton {
  margin: 0;
  padding: 8px 10px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(0 94 255);
  color: #fff;
  cursor: pointer;
}

.submitButtonDisabled {
  margin: 0;
  padding: 8px 10px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(90 91 94);
  color: #fff;
}

.link {
  margin: 0;
  padding: 10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(0 94 255);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
