@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --highlight: 210 16.7% 95.3%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --body-gradient: 210 40% 96.1%;
    --badge-emergency-background: 0 88.9% 89.4%;
    --badge-scheduled-background: 160.4 84.6% 87.3%;
    --badge-waiting-background: 48.7 93.4% 82.2%;
    --badge-cancelled-background: 205.5 93% 83.1%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --highlight: 210.9 37.61% 18.2%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --ring: 217.2 32.6% 17.5%;
    --body-gradient: 222.2 56% 14%;
    --badge-emergency-background: 0 100% 27%;
    --badge-scheduled-background: 161.8 88.1% 26.5%;
    --badge-waiting-background: 31 100% 45.1%;
    --badge-cancelled-background: 208.8 77.2% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-family: var(--font-lato);
}

body {
  background-size: 100px 100px;
  background-image: linear-gradient(
      to right,
      hsl(var(--body-gradient)) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, hsl(var(--body-gradient)) 1px, transparent 1px);
}
